FORMAT: 1A
HOST: https://zoho.syncdatamaster.com/

# ZohoEasySync

ZohoEasySync выполняет синхронизацию данных с ZohoCRM  в локальные базы данных MySQL

## Ограничения

 - Повторная отправка задачи синхронизации по определенному токену, которая выполняется или находится в очереди, игнорируется.

 - Отправка задач синхронизации возможна только с утвержденных IP.

 - Количество обращений с одного IP ограничено 70 запросами в минуту.
 

## Авторизация

Выполняется базовая авторизация. Логин и пароль передаются в заголовках.

## Список модулей [/crm/modules/]



| Параметр | Описание                                                          |     Тип    | Обязательный |
|----------|-------------------------------------------------------------------|:----------:|:------------:|
| token    | Токен ZohoCRM                                                     |   String   |      Да      |




### Отправка запроса [POST]

+ Request (application/json)

    + Headers
    
            Login: testLogin,
            Password: testPassword
            
    + Body

            {
                "token": "xmdf7xdsf67sdj7dsf",
            }

            
            
+ Response 200 (application/json)

    + Body

            {
                    "Home",
                    "Contacts",
                    "Sales_Orders",
                    "Invoices",
                    "Deals",
                    "Tasks",
                    "Events",
                    "Activities",
                    "Calls",
                    "Reports",
                    "Leads"
            }
            

## Запуск синхронизации [/sync/run/]



| Параметр    | Описание                                                          |     Тип    | Обязательный |
|-------------|-------------------------------------------------------------------|:----------:|:------------:|
| account     | Уникальный идентификатор клиента                                  |   String   |      Да      |
| token       | Токен ZohoCRM                                                     |   String   |      Да      |
| dbhost      | Хост базы данных                                                  |   String   |      Да      |
| dbport      | Порт базы данных                                                  |   Integer  |      Да      |
| dbuser      | Пользователь базы данных                                          |   String   |      Да      |
| dbpass      | Пароль пользователя базы данных                                   |   String   |      Да      |
| dbname      | Название базы данных                                              |   String   |      Да      |
| modules     | Список синхронизируемых модулей                                   |   String   |      Да      |
| day-ago     | Синхронизация созданных/измененных записей за посление n дней     |   Integer  |      Нет     |
| truncate    | Полная очистка таблиц указанных модулей перед синхронизацией      |   String   |      Нет     |
| query-limit | Полная очистка таблиц указанных модулей перед синхронизацией      |   Integer  |      Нет     |
   
   
При отправке запроса синхронизации возможно передать или параметр **datefrom**, или параметр **truncate**. 
Одновременно оба эти параметры указывать не нужно.



### Отправка запроса [POST]

+ Request (application/json)

    + Headers
    
            Login: testLogin,
            Password: testPassword
            
    + Body

            {
                "account": "3110002454545724579",
                "token": "xmdf7xdsf67sdj7dsf",
                "dbhost": "10.10.10.10",
                "dbport": 3306,
                "dbuser": "someuser",
                "dbpass": "somepassword",
                "dbname": "zohosync",
                "modules": "Products,Contacts,Potentials,Sales_Orders"
                "day_ago": 15
            }

            
            
+ Response 200 (application/json)

    + Body

            {
                "process_id": 0123456789
            }

## Проверка статуса процесса [/sync/status/{process_id}]

Значение уникального идентификатора процесса **process_id** возвращается в ответе на запрос запуска синхронизации.



Соответствие кодов статусов:

| Код | Статус     | Описание                       |
|:---:|------------|--------------------------------|
|  1  | waiting    | Задача синхронизации в очереди |
|  2  | inprogress | Синхронизация выполняется      |
|  3  | completed  | Синхронизация выполнена        |
|  4  | canceled   | Задача синхронизации отменена  |


В теле ответа **queries** отображает количество использованых API-запросов по данному процессу

+ Parameters
    + process_id (required, Integer) - Идентификатор процесса

### Отправка запроса [GET]

+ Request (application/json)

    + Headers

            Login: testLogin,
            Password: testPassword


+ Response 200 (application/json)

    + Body

            {
                "account": "ШАЯ",
                "status": 4,
                "queries": 30
            }
               
            
## Отмена процесса [/sync/stop/]

Значение уникального идентификатора процесса **process_id** возвращается в ответе на запрос запуска синхронизации.



### Отправка запроса [POST]


+ Request (application/json)

    + Headers

            Login: testLogin,
            Password: testPassword

    + Body

            {
                "process_id": 0123456789
            }


+ Response 200 (application/json)

    + Body

            {
                "status": "Process was stopped"
            }
            
## Использование API-запросов [/info/queries-count/]





### Отправка запроса [POST]


+ Request (application/json)

    + Headers

            Login: testLogin,
            Password: testPassword

    + Body

            {
                "account": "3110002454545724579",
                "from": 2018-01-01 10:00:00,
                "to": 2018-01-02 09:59:59,
            }


+ Response 200 (application/json)

    + Body

            {
                "account": "3110002454545724579",
                "count": 500
            }